* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Plus Jakarta Sans';
}

/* NAVBAR START */
nav {
    padding: 20px;
    background: #20484F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    margin-right: 32px;
}

nav ul li a {
    color: white;
    font-weight: 400px;
    font-size: 16px;
    line-height: 150%;
}

.logo {
    margin-left: 40px;
}

.logo h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.buttons {
    margin-right: 28px;
}

.buttons button {
    border-radius: 8px;
    margin-right: 10px;
    width: 82px;
    height: 41px;
    padding: 10px 16px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button:hover {
    cursor: pointer;
}

#first-btn {
    background: #B8E4DA;
}

#first-btn a {
    color: #20484F;
}

#transparent {
    background-color: transparent;
}

#transparent a {
    color: white;
}

.toggler {
    display: none;
    cursor: pointer;
}

.toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.show {
    display: block;
}

.mobile-buttons {
    display: none;
}

/* NAVBAR END */

/* HERO SECTION START */
.row {
    display: flex;
    flex-direction: row;
}

.hero .col-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}

.hero .texts h2 {
    font-weight: 700;
    font-size: 35px;
}

.hero .texts h4 {
    margin-top: 28px;
    color: #20484F;
    font-weight: 400;
    font-size: 18px;
}

form {
    margin-top: 28px;
    width: 70%;
}

input {
    background: #FFFFFF;
    border: 1px solid rgba(32, 72, 79, 0.1);
    border-radius: 8px;
    padding: 12px 24px 12px 16px;
    gap: 10px;
    width: 100%;
    font-size: 16px;
}

input::placeholder {
    color: rgba(32, 72, 79, 0.2);
}

input:focus {
    outline: none;
}

label {
    color: #072125;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

#checkbox {
    border: 1px solid rgba(32, 72, 79, 0.2);
    border-radius: 4px;
    width: 18px;
}

.checkboxx {
    display: flex;
    align-items: center;
    gap: 12px;
}

label[for=checkbox] {
    color: #072125;
    font-weight: 400;
    font-size: 16px;
}

form button {
    margin-top: 24px;
    padding: 8px;
    gap: 10px;
    background: #20484F;
    border-radius: 8px;
    width: 120px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans';
}

/* HERO SECTION END */

/* FEATURE BLOCKS START */
.feature-blocks {
    margin-top: 100px;
    background: #20484F;
    color: white;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.feature-blocks h3 {
    font-size: 32px;
    font-weight: 700;
}

.feature-blocks h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

.text-one h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.feature-blocks .text-two h5 {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}

.feature-content {
    padding-top: 83px;
    padding-bottom: 100px;

}

.feature-with-icons .row {
    margin-top: 59px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.feature-with-icons .col-3 {
    width: 25%;
}

/* FEATURE BLOCKS END */

/* METRICS START */
.metrics {
    margin-top: 160px;
    margin-bottom: 160px;
}


.metrics h3 {
    font-size: 32px;
    font-weight: 700;
}

.metrics h5 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
}


.metrics .col-3 {
    width: 26%;
    background: #20484F;
    border-radius: 24px;
    padding: 30px;
    height: 276px;
    color: #DCF2ED;
}

.num {
    margin-bottom: 133px;
}

.num h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
}

.text-one h5 {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
}

.text-two h5 {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}

.metrics .row {
    margin-top: 59px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* METRICS END */

/* QUOTES START */
.quotes {
    margin-top: 160px;
    margin-bottom: 160px;
}

.quotes img {
    width: 100%;
}

/* QUOTES END */

/* CTA START */
.cta {
    margin-top: 160px;
    margin-bottom: 160px;
    text-align: center;
}

.cta h5 {
    color: #20484F;
    font-size: 18px;
}

.cta h1 {
    margin-top: 28px;
    font-size: 50px;
    color: #072125;
}

.cta button {
    margin-top: 54px;
    padding: 17px;
    gap: 10px;
    background: #20484F;
    border-radius: 8px;
    width: 170px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Plus Jakarta Sans';
}

/* CTA END */


/* IMAGES START */
.images {
    margin-top: 200px;
    margin-bottom: 160px;
}

.images .col-6 {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.images h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #072125;
}

.hr-line {
    margin-top: 30px;
    width: 108px;
    height: 8px;
}

.books {
    width: 488px;
    height: 488px;
}

.girl {
    width: 488px;
    height: 488px;
}

.second-col p {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #072125;
}

.second-col-heading {
    color: #20484F;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-decoration-line: underline;
    cursor: pointer;
}

/* IMAGES END */


/* TABS START */
.tabs {
    margin-top: 200px;
    margin-bottom: 160px;
}

.tabs-content {
    text-align: center;
}

.tabs-content h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #072125;
}

.tabs-content h5 {
    color: #072125;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.tabs-content ul {
    margin-top: 52px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.tabs-content ul li {
    margin-right: 44px;
}

.tabs-content ul:before {
    content: '';
    display: block;
    position: absolute;
    top: 52px;
    left: 0;
    background: rgba(32, 72, 79, 0.2);
    height: 1px;
    width: 100%;
}

.tabs-content ul .active:before {
    content: '';
    display: block;
    position: absolute;
    top: 54px;
    left: 0;
    background: #20484F;
    ;
    height: 4px;
    width: 100%;
}

.active {
    position: relative;
    color: #072125 !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 23px !important;
    padding: 5px;
}

.tabs-content ul li a {
    color: #20484F;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.tabs-image {
    margin-top: 83px;
}

.mockcup-image {
    width: 100%;
}


/* TABS END */

/* PAGE HEADERS START */
.page-headers {
    margin-top: 160px;
    margin-bottom: 160px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.header-content h6 {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #20484F;
    font-size: 16px;
}

.header-content h1 {
    color: #072125;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    width: 809px;
    text-align: center;
}

/* PAGE HEADERS END */

/* FOOTER START */
footer {
    margin-top: 100px;
    background: #072125;
}

footer .row {
    justify-content: space-between;
}

footer .logo {
    margin: 0;
}

.more-space ul {
    margin-top: 62px !important;
}

footer .col-3 {
    margin-top: 60px;
}

footer h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: white;
}

.footer-ul {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 27px;
}

.footer-ul li {
    font-size: 16px;
    color: #DCF2ED;
    font-weight: 300;
}

footer hr {
    background-color: #B8E4DA;
    opacity: 0.2;
    margin-top: 60px;
}

.footer-foot {
    padding: 16px;

}

.footer-foot p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #DCF2ED;
}

/* FOOTER END */

@media (max-width:939px) {
    nav ul {
        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        padding: 17px;
        top: 50px;
        left: 0px;
        right: 0;
        background-color: #20484F;
        text-align: center;
    }

    .mobile-buttons {
        display: block !important;
        margin-top: 28px;
    }

    .buttons {
        display: none;
    }

    nav ul li {
        margin-top: 15px;
    }

    .toggler {
        display: block;
    }

    .hero .row {
        flex-direction: column;
    }

    .hero .col-6 {
        width: 100%;
    }

    .hero .texts {
        padding-left: 0px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .hero .texts h4 {
        font-size: 17px;
    }

    .hero .texts h2 {
        font-size: 26px;
    }

    .feature-with-icons .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-with-icons .col-3 {
        width: 100%;
    }

    .metrics .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .metrics .col-3 {
        width: 100%;
    }

    .cta h1 {
        font-size: 30px;
    }

    .images .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .images .col-6 {
        width: 100%;
    }

    .images .second-col {
        margin-top: 50px;
    }

    .images h3 {
        font-size: 29px;
    }

    .images img {
        width: 100%;
    }

    .tabs-content {
        justify-content: center;
        align-items: center;
    }

    .tabs-content ul {
        flex-direction: column;
    }

    .tabs-content ul li {
        margin-top: 10px;
        margin-right: 44px;
    }

    .tabs-content ul .active:before {
        display: none;
    }

    .header-content h1 {
        width: 100%;
        font-size: 32px;
    }

    footer .row {
        flex-direction: column;
    }

    footer .col-3 {
        width: 100%;
    }

    .tabs-content img {
        width: 100%;
    }
}

@media (max-width:496px) {
    .hero .texts h4 {
        font-size: 14px;
    }

    .feature-blocks h5 {
        font-size: 15px;
    }

    .cta h1 {
        font-size: 22px;
    }

    .images h3 {
        font-size: 20px;
    }

    .images img {
        width: 100%;
    }
}